# Node modules
node_modules/

# Env files
.env

# Firebase/Google secrets
config/serviceAccountKeys.js
# Ignore service account and external folder
../serviceAccountKey.json
../test_windows_app/
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
